/*lyricscloud.css*/
.highlight
{
	background-color: #F3F315;
}
.cloud-word-big
{
	font-size: 25px;
	margin: 5px;
}
.cloud-word-medium
{
	font-size: 15px;
	margin: 5px;
}
.cloud-word-small
{
	font-size: 12px;
	margin: 5px;
}

.cloud-word-small, 
.cloud-word-medium, 
.cloud-word-big a 
{
	text-decoration: none;
}